.carousel-item img{
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 50vh;
}
.second .nav-item{
    margin:0 15px 0 15px !important;
}
.carousel{
    padding-left: 0 !important;
}
.input-group-text{
    background: transparent !important;
}
input[type=search]{
    width: 600px !important  ;
}

.btn-account {
    border-radius: 20px !important;
}
.custom-text:hover{
    color: orange !important;
}
.line{
    
    background-color: coral;
    height: 2px;
    border-radius: 20px;

}
.brand-card{
    display: flex;
    flex: 1;
}
.brand-border{
    border-radius: 100px;
}
.card img{
    height: 13rem;
}

.btn-submit-product{
    color: white;
    background-color: #f1751d;
    width: 20%;
    border: none;
    height: 100%;
}
.form-floating>label{
    left: auto !important;
}
.form-floating>.form-control , .form-select{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}
.form-floating>.form-control:focus , .form-select:focus{
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid blue;
}

@media (min-width: 1400px) {
    .container .login-cusotm-container{
        max-width: 200px;
    }
    
}
.fa-icon{
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btnCheck{
    display: none;
    border: none;
    background-color: transparent;
    color: #3d4e53 ;
    transition: 0.5;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    font-size: small;
    width: 30px;
    height: 30px;
    
}
.btnCheck:enabled:hover{
    background-color: #e3e7ec;
}



