.carousel-item img{
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 50vh;
}
.second .nav-item{
    margin:0 15px 0 15px !important;
}
.carousel{
    padding-left: 0 !important;
}
.input-group-text{
    background: transparent !important;
}
input[type=search]{
    width: 600px !important  ;
}

.btn-account {
    border-radius: 20px !important;
}
.custom-text:hover{
    color: orange !important;
}
.line{
    
    background-color: coral;
    height: 2px;
    border-radius: 20px;

}
.brand-card{
    display: flex;
    flex: 1;
}
.brand-border{
    border-radius: 100px;
}
.card img{
    height: 13rem;
}

.btn-submit-product{
    color: white;
    background-color: #f1751d;
    width: 20%;
    border: none;
    height: 100%;
}
.form-floating>label{
    left: auto !important;
}
.form-floating>.form-control , .form-select{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}
.form-floating>.form-control:focus , .form-select:focus{
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid blue;
}

@media (min-width: 1400px) {
    .container .login-cusotm-container{
        max-width: 200px;
    }
    
}
.fa-icon{
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.btnCheck:disabled{
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}
.btnCheck{
    border: 0.5px solid gray;
    background-color: transparent;
    color: aliceblue;
}



